@import url('https://fonts.googleapis.com/css?family=Aldrich');

#body{
    background-color: rgb(240, 240, 240);   
    font-family: 'Aldrich', sans-serif;
    font-size: 120%;
    font-weight: 100;
}

#adding{
    padding: 30px;
    margin-top: 30px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 1px black;
}

ul{
    margin: 0
}

ul li{
    list-style-type: none;
    width: 100%;
    margin-bottom: 10px;
    text-align: left;
    padding: 10px;
    /* border: thin dashed black; */
    border-bottom: thin solid black;
    transition: 1s;    
    /* border-top: thin dotted rgb(31, 31, 31); */
}
li span{
    margin-left: 10px;
    font-family: 'Armata', cursive;
}
button.btn-danger, button.btn-info{
    float: right;
    position: static !important;
    direction: unset;
}

input[type="checkbox"]{
    margin-top: 10px;
}

#addedTasks{
    padding: 10px;
    border-radius: 5px;
    min-height: 400px;
    box-shadow: 1px 1px 5px 0.5px black;
}

input:checked+span {
    /* background: #F9F9F9; */
    text-decoration: line-through;
}

footer {
   position: static;
   bottom:0;
   right: 0;
   left: 0;
   margin-top: 1rem;
   padding: 1rem;
   font-size: 12pt;
   background:rgba(255, 153, 0, 0.904);
   text-align: center;
}
#footer{
    position: fixed;
   bottom:0;
   right: 0;
   left: 0;
   margin-top: 1rem;
   padding: 1rem;
   font-size: 12pt;
   background:rgba(255, 153, 0, 0.904);
   text-align: center;
}

@media(max-width: 950px){
    .navBtn{
        /* width: 100%; */
        margin-top: 10px;
        float: right;
    }
    .todoBtn{
        /* width: 100%; */
        text-align: right
    }
    li span{
        font-size: 12pt;
    }
}

@media(max-width: 750px){
    .navBtn{
        width: 100%;
        /* margin-top: 10px; */
        /* float: right; */
    }
    .todoBtn{
        width: 100%;
        /* text-align: right */
    }
    li span{
        font-size: 10pt;
    }
}
#time{
    padding: 10px
}

#index{
    margin: 10px;
    padding: 10px;
}